@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Satoshi", sans-serif;
  --font-serif: "Sentient", serif;
  --font-satoshi: "Satoshi", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}
